# Dependencies
/node_modules
/front/node_modules
/api/node_modules

# Build artifacts
/dist
/front/dist

# Environment variables
.env
front/.env
api/.env

# Vercel
.vercel

# IDE / Editor specific
.vscode/
.idea/