# Dependencies
/frontend/node_modules/
/backend/node_modules/

# Build artifacts
/dist
/frontend/dist/

# Environment variables
.env
front/.env
api/.env

# Vercel
.vercel

# IDE / Editor specific
.vscode/
.idea/