# Mercado Pago Credentials
MP_ACCESS_TOKEN=APP_USR-669226449513703-111713-49b0494ab65ff1b310aef6c8e1c6f8a0-284659356

# This should be your public URL for the webhook. For local testing, use a tool like ngrok.
WEBHOOK_URL=https://your-public-url.com

# Email credentials for sending confirmation (using Nodemailer with Gmail as an example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-gmail-app-password
